<?php
	$header_str = "Player Season Stats";
	require '../functions1.inc';

	if (!$to_auth) {
?>
<div id="Layer3" style="position:absolute; width:620px; height:653px; z-index:2; left: 249px; top: 260px; visibility: visible">
<div align="left">
<table width="100%" border="2">
<tr><td>
<!-- Insert Page Specific Code Here -->
<table width="100%" border="1" cellspacing="5" bordercolor="#000099">
    <tr>
        <th width="15%">Player</th>
        <th width="15%">Team</th>
        <th width="10%"> Cost</th>
        <th width="15%">Average Points</th>
        <th width="5%">Points</th>
        <th width="20%">Last 3-Game Average</th>
    </tr>
    <tr align="center">
        <td>{{.Name}}</td>
        <td>{{.Team}}</td>
        <td>{{.Cost}}</td>
        <td>{{printf "%.2f" .AveragePoints}}</td>
        <td>{{.TotalPoints}}</td>
        <td>{{printf "%.2f" .Last3Average}}</td>
    </table>
    </td></tr>
    <tr><td>
    <table width="100%" border="1" cellspacing="5" bordercolor="#000099">
    <tr>
        <th width="15%">Goals</th>
        <th width="15%">Assists</th>
        <th width="20%">Shots on Target</th>
        <th width="15%">Chances Created</th>
        <th width="15%">Tackles</th>
    </tr>
    <tr align="center">
        <td>{{.Goals}}</td>
        <td>{{.Assists}}</td>
        <td>{{.ShotsOnTarget}}</td>
        <td>{{.ChancesCreated}}</td>
        <td>{{.Tackles}}</td>
    </table>
    </td></tr>
    <tr><td>
    <table width="100%" border="1" cellspacing="5" bordercolor="#000099">
    <tr>
        <th colspan="5">Next Fixture</th>
    </tr>
    <tr>
        <th width="20%">Date</th>
        <th width="20%">Competition</th>
        <th width="30%">Venue</th>
        <th width="30%">Fixture</th>
    </tr>
    {{ with .TeamFixtures }}
		{{ range . }}
    <tr align="center">
        <td>{{.KickOff}}</td>
        <td>{{.Competition}}</td>
        <td>{{.Venue}}</td>
        <td>{{.Fixture}}</td>
    </tr>
        {{ end }}
    {{ end }}
    </table>
    </td></tr>
    <tr><td>
    <table width="100%" border="1" cellspacing="5" bordercolor="#000099">
    <tr>
        <th colspan="6">Results</th>
    </tr>
    <tr>
        <th width="10%">Game Week</th>
        <th width="15%">Date</th>
        <th width="20%">Competition</th>
        <th width="25%">Fixture</th>
        <th width ="20%">Venue</th>
        <th width="15%">Result</th>
    </tr>
    {{ with .TeamResults }}
		{{ range . }}
    <tr align="center">
        <td>{{.GameWeek}}</td>
        <td>{{.KickOff}}</td>
        <td>{{.Competition}}</td>
        <td>{{.HomeTeam}} v {{.AwayTeam}}</td>
        <td>{{.Venue}}</td>
        <td>{{.HomeScore}} - {{.AwayScore}}</td>
    </tr>
        {{ end }}
    {{ end }}
    </table>
<!-- End of specific Insert -->
    </td></tr></table>
            </div>
          </div>
</body>
</html>
<?php
}
?>